@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

@import "tailwindcss";

@font-face {
  font-family: 'Chomsky';
  src: url('/fonts/Chomsky.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothicPixels';
  src: url('/fonts/GothicPixels.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size:larger;
  color: white;
  background-color: rgb(80, 80, 80);
}