.settings-button {
    position: absolute; 
    width: 2.5rem;
    margin: 0.5rem;
    top: 0rem;
    left: 0rem;
    z-index: 1000; 
}

.settings-button img {
    margin: 0rem;
    height: auto;
    width: 100%;
}

.code-container {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 1000;
}

.qr-code-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: #000;
    border: 2px solid #000;
    border-radius: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 2000;
}

.player-list {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4em;
    margin-top: 3rem;
    overflow-y: auto;
}


.player-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-inline: 1rem;
    border: 2px solid #000;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 17rem;
    height: 3rem;
}


.anonymous {
    font-style: italic;
    color: rgb(153, 153, 153);
}

.player-name .anonymous {
    flex: 0 0 70%;
    text-align: center;
}

.player-badges {
    text-align: right;
    font-weight: 600;
    flex: 0 0 30%;
}

