.error-banner {
  position: fixed;
  top: 1rem;                    /* tailwind top-4 */
  left: 50%;
  transform: translateX(-50%);  /* -translate-x-1/2 */
  background-color: #dc2626;    /* red-600 */
  color: #fff;
  padding: 0.5rem 1rem;         /* py-2 px-4 */
  border-radius: 0.25rem;       /* rounded */
  box-shadow:
    0 10px 15px -3px rgba(0,0,0,0.1),
    0 4px 6px -2px rgba(0,0,0,0.05); /* shadow-lg */
  transition-property: opacity; /* transition-opacity */
  font-family: monospace;
  font-size: 1rem
}
.error-visible {
  opacity: 1;
  transition-duration: 0ms;     /* duration-0 */
}
.error-hidden {
  opacity: 0;
  transition-duration: 500ms;   /* duration-500 */
}

.settings-button {
    position: absolute; 
    width: 2.5rem;
    margin: 0.5rem;
    top: 0rem;
    left: 0rem;
    z-index: 1000; 
}

.settings-button img {
    margin: 0rem;
    height: auto;
    width: 100%;
}

.code-container {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 1000;
}

.qr-code-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: #000;
    border: 2px solid #000;
    border-radius: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 2000;
}

.player-list {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4em;
    margin-top: 3.5rem;
    overflow-y: auto;
}


.player-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-inline: 1rem;
    border: 2px solid #000;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 17rem;
    height: 3rem;
}

 .anonymous {
    font-style: italic;
    color: rgb(153, 153, 153);
 }

.spectator {  
    color: rgb(197, 196, 196);
}

.player-name, .anonymous {
    flex: 0 0 33%;
    text-align: left;
}

.role-name {
    flex: 0 0 33%;
    text-align: right;
}

.player-badges {
    display: flex;
    justify-content: right;
    flex: 0 0 33%;
}

.host-badge, .you-badge
{ 
    flex: 0 0 45%;
    padding: 0rem;
}

.host-badge {
    
    font-weight: 600;
    text-align: right;
}

.you-badge {
    text-align: right;
}




